EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1
FAST_REFRESH=true
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
EXPO_WEB_DEBUG=true

EXPO_PUBLIC_PUBLIC_WEB_ORIGIN=http://localhost:8081
EXPO_PUBLIC_APP_WEB_ORIGIN=http://localhost:8082
EXPO_PUBLIC_STUDENT_WEB_ORIGIN=http://localhost:8083

EXPO_PUBLIC_APP_MODE=public

# Valores posibles para EXPO_PUBLIC_APP_MODE:
#   public   - build landing page eldojo.tech (puerto dev: 8081)
#   admin    - build panel app.eldojo.tech (puerto dev: 8082)
#   student  - build portal alumno mi.eldojo.tech (puerto dev: 8083)
